.topSection {
  flex: 1;
  position: relative;
  z-index: 1;
  padding: 3vh 3vw 2vh;
  box-sizing: border-box;
  overflow: visible;
}

.channels {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
}

.col {
  flex: 0 0 22%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.col.first {
  margin-left: 0;
}

@media only screen and (max-height: 826px) {
  .topSection {
    padding-top: 1em;
  }
}

@media only screen and (max-height: 640px) {
  .channels {
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 1720px) {
  .topSection {
    transform: scale(0.9);
    padding-top: 0em;
  }
}
