.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 91px;
  pointer-events: none;
  z-index: 9999;
  transform-origin: 20px 10px;
  will-change: transform;
}

.cursor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (hover: none) {
  .cursor {
    display: none;
  }
}
